
.backImage::before {
    height: 1000vh;
    content: "";
    background-image: url("/static/배경.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}

hr {
    margin: 5px 0;
}

header {
    position: relative;
}

.userid {
    font-weight: 700;
    color: purple;
}

nav ul {
    position: absolute;
    right: 300px;
    margin-top: 30px;
}

nav li {
    margin-left: 10px;
}

nav a {
    background-color: dodgerblue;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    background-color: white;
    border-radius: 10px;
    color: purple;
    transition: 0.3s;
}

section {
    position: relative;
    top: 100px;
}

.leftPosition {
    width: 35%;
    height: 500px;
    position: absolute;
    left: 0;
    /*background-color: white;*/
}

.rightPosition {
    width: 65%;
    right: 0;
    height: 1000vh;
    position: absolute;
    /*background-color: white;*/
}

.addBtn {
    width: 100px;
    text-align: center;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: white;
    border-radius: 10px;
    color: purple;
    transition: 0.3s;
}

.rightPosition {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.card {
    /*overflow: hidden;*/
    /*height: auto;*/
    height: 540px;
    margin: 10px;
    border-radius: 10px;
}

.card .card-img-top {
    height: 200px;
}

.card #content {
    height: 168px;
}


.star22 {
    /*line-height: 1.5;*/
    position: relative;
    font-size: 30px;
    color: #ddd;
}

.star22 span {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    color: purple;
    overflow: hidden;
    pointer-events: none;
}


.likeBtn:hover {
    background-color: white;
    border-radius: 10px;
    color: purple;
    transition: 0.3s;
}


.post-box {
    display: none;
    position: absolute;
    top: 70px;
    left: 50px;
    width: 550px;
    padding: 20px;
    border-radius: 15px;
    border: 5px solid white;
}

.post-box.active {
    display: block;
}

.imagepreview {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}

#customFile {
    cursor: pointer;
}

.starFont {
    padding: 0.375rem .75rem;
    border-radius: 0.25rem;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.star {
    line-height: 1.5;
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;

}

.star span {
    width: 0;
    position: absolute;
    left: 0;
    color: purple;
    overflow: hidden;
    pointer-events: none;
}

.hh {
    margin-top: 10px;
    height: 200px;
}


.insertBtn {
    width: 50%;
    margin: 10px auto 0 auto;
    background: white;
    color: purple;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

.insertBtn:hover {
    background: purple;
    transition: 0.5s;
    transform: scale(1.1) perspective(500px);
    color: white;
}



















